<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Webpage</title>
</head>
<body>
    <nav>
        <a href="/about/">About Us</a>
        <a href="/contact us/">Contact Us</a>
        <a href="/store/">Store</a>
    </nav>
<h1>Weather Data Api</h1>
<h2>This is a webpage.</h2>
<p>Welcome to this simple webpage.</p>
    <p>To check the station and temperature: <a href="http://127.0.0.1:5000/api/v1/10/1988-10-25">Check</a></p>
<img src="https://images.pexels.com/photos/2213575/pexels-photo-2213575.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" style="width:300px">
<br>
<br>
<a href="google.com">Google page</a>

</body>
</html>